/* Estilo Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #4CAF50;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

/* Navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    padding: 20px;
}

/* Seções */
h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

article {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

article:hover {
    transform: scale(1.02);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

article p {
    margin: 10px 0;
}

article a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode footer {
    background-color: #333;
}

body.dark-mode button {
    background-color: #777;
    color: white;
}

body.dark-mode article {
    background: #3a3a3a;
}

body.dark-mode article a {
    color: #4CAF50;
}
