body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #4CAF50;
}

article {
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Modo escuro */
body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #555;
}

body.dark-mode footer {
    background-color: #444;
}

body.dark-mode button {
    background-color: #777;
}
